* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background: #17171b;
  overflow-x: hidden;
}

#home,
#about,
#clients,
#services,
#contacts {
  @media screen and (max-width: 1024px) {
    padding-top: 1rem;
  }
}
